body {
    background-color: #eeeeee;
    font-family: sans-serif;
    margin: 0;
    padding: 40px;
}

.container {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}
h1 {
    margin-top: 0;
}

label {
    display: block;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    cursor: pointer;
}

button,
a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
}

button {
    cursor: pointer;
}
.board {
    width: fit-content;
    margin: 20px auto;
    border: 2px solid black;
}

.board-row {
    display: flex;
}

.square {
    width: 50px;
    height: 50px;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
}
.piece {
    display: inline-block;
}

.piece.gote {
    transform: rotate(180deg);
}