<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>将棋 次の一手クイズ</title>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container">
    	<h1>将棋 次の一手クイズ</h1>
		
		<div class="board-wrapper">

		    <div class="file-numbers">
		        <span>9</span>
		        <span>8</span>
		        <span>7</span>
		        <span>6</span>
		        <span>5</span>
		        <span>4</span>
		        <span>3</span>
		        <span>2</span>
		        <span>1</span>
		    </div>

		    <div class="board-area">

				<div class="board">
				    {% for row in board %}
				        {% set row_index = loop.index0 %}

				        <div class="board-row">
				            {% for piece, side in row %}

				                <div class="square
				                    {% if result == "正解！"
				                        and question.get("correct_square")
				                        and row_index == question["correct_square"][0]
				                        and loop.index0 == question["correct_square"][1] %}
				                        correct-square
				                    {% endif %}
				                ">

				                    <span class="piece {{ side }}">
				                        {{ piece }}
				                    </span>

				                </div>

				            {% endfor %}
				        </div>
				    {% endfor %}
				</div>

		        <div class="rank-numbers">
		            <span>一</span>
		            <span>二</span>
		            <span>三</span>
		            <span>四</span>
		            <span>五</span>
		            <span>六</span>
		            <span>七</span>
		            <span>八</span>
		            <span>九</span>
		        </div>

		    </div>

		</div>
		
		<p>問題 {{ question_index + 1 }} / {{ total_questions }}</p>

    	<h2>{{ question["question"] }}</h2>

		{% if not result %}
	    	<form method="POST">
	        	<input type="hidden" name="question_index" value="{{ question_index }}">

	        	{% for choice in question["choices"] %}
	            	<label>
	                	<input type="radio" name="answer" value="{{ loop.index }}">
	                	{{ loop.index }}：{{ choice }}
	            	</label>
	            	<br>
	        	{% endfor %}

	        	<button type="submit">回答する</button>
	    	</form>
		{% endif %}
	
		{% if result %}
	    	<h2>{{ result }}</h2>
	    	<p>正解は「{{ correct_choice }}」です。</p>
	    	<p>{{ question["explanation"] }}</p>

			{% if question_index + 1 < total_questions %}
		    	<a href="/?q={{ question_index + 1 }}">次の問題へ</a>
			{% else %}
		    	<a href="/result">結果を見る</a>
			{% endif %}
		{% endif %}
	</div>
</body>
</html>